@media only screen and (max-width: 768px) {
  main,
  .auth-container,
  .new-listing-form,
  .edit-form {
    max-width: 100%;
    padding: 10px;
  }

  header,
  footer {
    padding: 5px;
  }

  .chat-container,
  .message,
  .listing-text {
    padding: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  header a,
  button {
    padding: 10px;
    min-width: 48px;
    min-height: 48px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 2rem; /* Larger font size for better readability */
  }
}

a .hawkswap-logo {
  width: 100%; /* Make width responsive to the container size */
  height: auto; /* Maintain aspect ratio */
  max-width: 60px; /* Set a max-width if necessary */
}

@media only screen and (max-width: 768px) {
  .edit-buttons,
  .listing {
    flex-direction: column;
  }

  .listings-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.hawkswap-logo {
  width: 100%; /* Make width responsive to the container size */
  height: auto; /* Maintain aspect ratio */
  max-width: 60px; /* Set a max-width if necessary */
}

@media (max-width: 768px) {
  .hawkswap-logo {
    max-width: 40px; /* Smaller logo for smaller screens */
  }
}

@media (max-width: 480px) {
  .hawkswap-logo {
    max-width: 30px; /* Even smaller logo for mobile devices */
  }
}

/* end of media queries */

html {
  font-size: 16px; /* Standard base size for desktop */
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  padding: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  font-size: 2rem; /* 32px if base is 16px */
}

p {
  font-size: 1rem; /* 16px */
}

.chat-preview {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: none;
  border-radius: 5px;
  padding: 5px;
}

.chat-preview:hover {
  background-color: #f4f4f4;
}
.chat-time {
  font-size: 0.8rem;
  color: #666;
}

#message-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-bottom: 10px;
  text-transform: none;
  border-radius: 5px;
  padding: 5px;
  list-style: none;
}

.auth-container {
  border: 1px solid #933131;
  padding: 10px;
  width: 50%;
  justify-self: center;
  align-self: center;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-self: center;
  padding-bottom: 10px;
  width: 90%;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-bottom: 10px;
  text-decoration: none !important;
  text-transform: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #f4f4f4;
}

.listing-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-bottom: 10px;
  text-decoration: none !important;
  text-transform: none;
  border-radius: 5px;
  padding: 5px;
}

.recent-message {
  opacity: 0.55;
}

.unread-message {
  background-color: rgba(255, 0, 0, 0.498);
  border-radius: 5px;
  padding: 2px;
}

header,
footer {
  background-color: #f4f4f4;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: sticky;
}

header .left {
  display: flex;
  justify-content: flex-start;
}

header .center {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}

header .right {
  display: flex;
  justify-content: flex-end;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header a:hover {
  background-color: #333;
  color: white;
}

.noacc {
  text-decoration: none;
  color: black;
  padding-top: 10px;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

img {
  border-radius: 5%;
  width: 200px;
  height: 200px;
}

.sold-tag {
  background-color: red;
  color: white;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-self: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 50%;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.edit-other-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: 5px;
}

.listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.listing-date {
  opacity: 0.6;
  padding-top: 5px;
}

.listing img {
  border: 0.5px solid grey;
}

footer {
  margin-top: 10px;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.names {
  opacity: 0.7;
}

.listing a {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  text-decoration: none !important;
  color: black;
}

.listing:hover {
  background-color: #f4f4f4;
}

.listing-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000000;
}

.heart-btn.saved {
  color: red;
}

.heart-form {
  display: inline-block;
}
