<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>{% block title %}HawkSwap{% endblock %}</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    {% include 'header.html' %}

    <main>{% block content %} {% endblock %}</main>
    {% include 'footer.html' %}
  </body>
</html>
