{% extends 'base.html' %} {% block title %}Chat | HawkSwap{% endblock %} {%
block content %}

<h2>{{listing_name}} - ${{price}}</h2>
<div id="message-list"></div>
<div id="below-messages"></div>

<div id="message-form" class="chat-input">
  <input type="text" id="message" name="message" required />
  <button type="button" id="chatbox" onclick="sendMessage()">Send</button>
  <script>
    document.getElementById("message-form").addEventListener("submit", (e) => {
      e.preventDefault();
    });
    document.getElementById("message").addEventListener("keypress", (e) => {
      if (e.key === "Enter") {
        e.preventDefault();
        sendMessage();
      }
    });
  </script>
</div>

<script>
  function fetchMessages() {
    fetch("/get_messages/{{ chat_id }}")
      .then((response) => response.json())
      .then((data) => {
        let messageList = document.getElementById("message-list");
        messageList.innerHTML = "";

        let lastSentMessageIndex = -1;
        data.forEach((message, index) => {
          if (message.username == "{{ current_user.username }}") {
            lastSentMessageIndex = index;
          }
        });

        data.forEach((message, index) => {
          let li = document.createElement("li");
          li.className =
            message.username == "{{ current_user.username }}"
              ? "message user-message"
              : "message";

          let messageContent = document.createElement("span");
          messageContent.textContent = message.message_content;
          li.appendChild(messageContent);

          if (index === lastSentMessageIndex) {
            let statusIndicator = document.createElement("span");
            statusIndicator.style.marginLeft = "10px";

            if (message.read_status) {
              let checkIcon = document.createElement("i");
              checkIcon.className = "fas fa-check";
              checkIcon.style.color = "green";
              statusIndicator.appendChild(checkIcon);
            } else {
              statusIndicator.textContent = "sent";
              statusIndicator.style.color = "gray";
            }
            li.appendChild(statusIndicator);
          }
          messageList.appendChild(li);
        });

        if (document.activeElement === document.getElementById("message")) {
          scrollToChat();
        }
      });
  }

  function scrollToChat() {
    var element = document.getElementById("below-messages");
    element.scrollIntoView({ behavior: "smooth" });
  }

  function sendMessage() {
    let messageInput = document.getElementById("message");
    let message = messageInput.value.trim(); // Trim whitespace
    if (message === "") {
      return; // Prevent sending empty messages
    }
    messageInput.value = "";
    if (window.innerWidth < 768) {
      messageInput.blur();
      messageInput.focus(); // Reset focus for mobile keyboards
    }

    fetch("/chat/{{ chat_id }}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message: message }),
    }).then(() => {
      fetchMessages(); // Refresh messages
    });
  }

  // Refresh messages every 3 seconds
  setInterval(fetchMessages, 3000);

  // Initially load messages and set initial focus
  document.addEventListener("DOMContentLoaded", () => {
    fetchMessages();
    setTimeout(scrollToChat, 200); // Ensure scroll after initial load
  });
</script>

{% endblock %}
