{% extends 'base.html' %} {% block title %}Chat | HawkSwap{% endblock %} {%
block content %}

<h2>{{listing_name}} - ${{price}}</h2>
<div id="message-list"></div>

<form id="message-form">
  <label for="message">Message:</label>
  <input type="text" id="message" name="message" autofocus required />
  <button type="button" id="chatbox" onclick="sendMessage()">Send</button>
  <script>
    document.getElementById("message-form").addEventListener("submit", (e) => {
      e.preventDefault();
    });
    document.getElementById("message").addEventListener("keypress", (e) => {
      if (e.key === "Enter") {
        sendMessage();
      }
    });
  </script>
</form>

<script>
  function fetchMessages() {
    fetch("/get_messages/{{ chat_id }}")
      .then((response) => response.json())
      .then((data) => {
        let messageList = document.getElementById("message-list");
        messageList.innerHTML = ""; // Clear existing messages
        data.forEach((message) => {
          let li = document.createElement("li");
          li.className =
            message.username == "{{ current_user.username }}"
              ? "message user-message"
              : "message";
          li.textContent =
            (message.username == "{{ current_user.username }}"
              ? ""
              : message.username + ": ") + message.message_content;
          messageList.appendChild(li);
        });
      });
  }

  function scrollToChat() {
    var element = document.getElementById("chatbox");
    element.scrollIntoView({ behavior: "smooth" });
  }

  function sendMessage() {
    let messageInput = document.getElementById("message");
    let message = messageInput.value;
    messageInput.value = ""; // Clear the input after sending
    fetch("/chat/{{ chat_id }}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ message: message }),
    }).then(() => {
      fetchMessages(); // Refresh messages
    });
    scrollToChat();
  }

  // Fetch messages every 5 seconds
  setInterval(fetchMessages, 5000);

  // Fetch messages when the page loads
  document.addEventListener("DOMContentLoaded", fetchMessages);
  //wait half a second and scroll to the bottom of the chat
  setTimeout(scrollToChat, 500);
</script>

{% endblock %}
