{% extends 'base.html' %} {% block title %}Chat Info| HawkSwap{% endblock %} {%
block content %}


<div class="chat-info">
  <div class="chat-info-header">
    <h2>Chat Info</h2>
  </div>
  <div class="chat-info-content">
    <div class="chat-info-listing">
      <img src="{{ url_for('static', filename=chat_info.image_path) }}" />
      <div>
        {{ chat_info.name }} - ${{
        chat_info.price }}
        </div>
    </div>
    <div class="chat-info-users">
      <div>Buyer: <a href="/user/{{ chat_info.buyer }}">
        {% if chat_info.buyer == current_user.username %}
        You
        {% else %}
        {{ chat_info.buyer }}
        {% endif %}
      </a></div>
      <div>Seller: <a href="/user/{{ chat_info.seller }}">
        {% if chat_info.seller == current_user.username %}
        You
        {% else %}
        {{ chat_info.seller }}
        {% endif %}
      </a></div>
    </div>
  </div>
  <div class="chat-info-buttons">
    <form action="/chat/{{ chat_info.chat_id }}">
      <button type="submit">Go to Chat</button>
    </form>

    <form action="/listing/{{ chat_info.id }}">
      <button type="submit">View Listing</button>
  </div>

  {% endblock %}
</div>
