<head>
    <link rel="icon" href="../favicon.png" type="image/x-icon">
  
</head>

<header>
  <p><a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/inbox">Inbox</a> <script>
      if ("{{ unread_count }}" > "0") {
        document.write("({{ unread_count }})");
      }
    </script>
    <a href="/saved-listings">Saved</a>
    <a href="/create-listing">Create Listing</a>
    <a href="/user/{{ current_user.username }}">Profile</a>
    <a href="/logout">Logout</a></p>
  </p>
</header>
