{% extends 'base.html' %} {% block title %}Saved | HawkSwap{% endblock %} {%
block content %}
<h2>Inbox</h2>
<div class="chat-container">
  {% for chat in chats %}
  <a href="/chat/{{ chat.chat_id }}" class="chat-preview">
    <div>{{chat.seller_first_name}} | {{ chat.listing_name }}</div>
    <span class="recent-message">{{ chat.message_content }}</span> {% if
    chat.unread_count > 0 %}<span class="unread-message">
      {{ chat.unread_count }} Unread Message</span
    >{% endif %}

    <div class="chat-time">
      <script>
        var utcDateString = "{{ chat.sent_at }}"; // Assuming this is in ISO format
        var postedDate = new Date(utcDateString);
        var localDate = new Date(
          postedDate.getTime() - postedDate.getTimezoneOffset() * 60000
        );
        var now = new Date();

        var diff = now - localDate;
        var diffSeconds = Math.floor(diff / 1000);
        var diffMinutes = Math.floor(diff / (1000 * 60));
        var diffHours = Math.floor(diff / (1000 * 60 * 60));
        var diffDays = Math.floor(diff / (1000 * 60 * 60 * 24));
        // display hours ago, minutes ago, or seconds ago
        if (diffDays > 0) {
          document.write(diffDays + " days ago");
        } else if (diffHours > 1) {
          document.write(diffHours + " hours ago");
        } else if (diffHours > 0) {
          document.write(diffHours + " hour ago");
        } else if (diffMinutes > 1) {
          document.write(diffMinutes + " minutes ago");
        } else if (diffMinutes > 0) {
          document.write(diffMinutes + " minute ago");
        } else {
          document.write("Just now");
        }
      </script>
    </div>
  </a>
  {% endfor %}
</div>
<script>
  if ("{{ chats }}" == "[]") {
    document.write("No messages yet.");
  }
</script>
{% endblock %}
