{% extends 'base.html' %} {% block title %}{{ listing.name }}{% endblock %} {%
block content %}
<div>
  <img
    src="{{ url_for('static', filename=listing.image_path) }}"
    alt="{{ listing.name }}"
  />
  <div class="listing-title">
    <h2>{{ listing.name }} - ${{ listing.price }}</h2>
    {% if saved %}
    <form
      action="/save-listing/{{ listing.id }}"
      method="post"
      class="heart-form"
    >
      <button type="submit" class="heart-btn saved">
        <i class="fas fa-heart"></i>
      </button>
    </form>
    {% else %}
    <form
      action="/save-listing/{{ listing.id }}"
      method="post"
      class="heart-form"
    >
      <button type="submit" class="heart-btn">
        <i class="far fa-heart"></i>
      </button>
    </form>
    {% endif %} {% if listing.is_sold %}
    <p style="color: red">SOLD</p>
    {% endif %}
  </div>

  {% if current_user.username == sellerusername %}
  <div class="edit-buttons">
    <form action="/listing/{{ listing.id }}/edit">
      <button type="submit">Edit Listing</button>
    </form>
  </div>
  {% endif %}

  <p>{{ listing.description }}</p>

  {% if not chat.chat_id and current_user.username != sellerusername %}
  <form action="/message-seller/{{ listing.id }}" method="post">
    <label for="message">Message:</label>
    <textarea id="message" name="message" required>
Hi {{ sellerusername }}, is this still available?</textarea
    ><br /><br />
    <button type="submit">Message Seller</button>
  </form>
  {% elif chat.chat_id and current_user.username != sellerusername %}
  <form action="/chat/{{ chat.chat_id }}">
    <button type="submit">Go to Chat</button>
  </form>
  {% endif %}
  <div class="listing-date">
    Posted
    <script>
      var utcDateString = "{{ listing.dateposted }}"; // Assuming this is in ISO format
      var postedDate = new Date(utcDateString);
      var localDate = new Date(
        postedDate.getTime() - postedDate.getTimezoneOffset() * 60000
      );
      var now = new Date();

      var diff = now - localDate;
      var diffSeconds = Math.floor(diff / 1000);
      var diffMinutes = Math.floor(diff / (1000 * 60));
      var diffHours = Math.floor(diff / (1000 * 60 * 60));
      var diffDays = Math.floor(diff / (1000 * 60 * 60 * 24));
      // display hours ago, minutes ago, or seconds ago
      if (diffDays > 0) {
        document.write(diffDays + " days ago");
      } else if (diffHours > 1) {
        document.write(diffHours + " hours ago");
      } else if (diffHours > 0) {
        document.write(diffHours + " hour ago");
      } else if (diffMinutes > 1) {
        document.write(diffMinutes + " minutes ago");
      } else if (diffMinutes > 0) {
        document.write(diffMinutes + " minute ago");
      } else {
        document.write("Just now");
      }
    </script>

    by <a href="/user/{{ sellerusername }}">{{ sellerusername }}</a>
  </div>
</div>
{% endblock %}
