{% extends 'auth_base.html' %} {% block title %}Login | HawkSwap{% endblock %}
{% block content %}

<h2>Login</h2>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
<form action="" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required /><br /><br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required /><br /><br />
  <input class="submit-button" type="submit" value="Login" />
</form>
<a href="/register" class="noacc">Don't have an account? Register here</a>

{% endblock %}
