{% extends 'auth_base.html' %} {% block title %}Login | HawkSwap{% endblock %}
{% block content %}

<h3>Login</h3>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
<form action="" method="post">
  <input
    type="text"
    id="username"
    name="username"
    required
    placeholder="Username"
    autofocus
  /><br /><br />
  <input
    type="password"
    id="password"
    name="password"
    required
    placeholder="Password"
  /><br /><br />
  <button type="submit">Login</button>
</form>
<a href="/register" class="noacc"
  >Don't have an account? <u>Register here</u></a
>

{% endblock %}
