{% extends 'auth_base.html' %} {% block title %}Login | HawkSwap{% endblock %}
{% block content %} {% with messages = get_flashed_messages() %} {% if messages
%}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<form action="/register" method="post" class="login-form">
  <input type="email" id="email" name="email" required placeholder="KU Email" />
  <input
    type="text"
    id="first"
    name="first"
    required
    placeholder="First Name"
    autocapitalize="on"
  />
  <input
    type="text"
    id="last"
    name="last"
    required
    placeholder="Last Name"
    autocapitalize="on"
  />
  <input
    type="text"
    id="username"
    name="username"
    required
    placeholder="Username"
  />
  <input
    type="password"
    id="password"
    name="password"
    required
    placeholder="Password"
  />
  <button type="submit">Register</button>
</form>
<div class="noacc">
  Already have an account? <a href="/login"><u>Log in</u></a>
</div>
{% endblock %}
