<!DOCTYPE html>
<html>
  <head>
    <title>HawkSwap | Register</title>
  </head>
  <body>
    <h2>Register</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />
      <label for="email">KU Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Register" />
    </form>
    <a href="/login">Already have an account? Login here</a>
  </body>
</html>
