{% extends 'base.html' %} {% block title %}Search | HawkSwap{% endblock %} {%
block content %}
<h1>Listing Search</h1>
<form action="/search" method="POST">
  <label for="search">Search:</label>
  <input type="text" id="search_query" name="search_query" required />
  <input type="submit" value="Search" />
</form>

{% if listings %}
<h2>Results</h2>
{% for listing in listings %}
<div class="listing">
  <a href="/listing/{{ listing.id }}">{{ listing.name }}</a>
</div>
{% endfor %} {% endif %} {% if not listings %}
<p>No results found.</p>
{% endif %} {% endblock %}
