<div class="listing">
  <a href="/listing/{{ listing.id }}">
    <img
      src="{{ url_for('static', filename=listing.image_path) }}"
      alt="{{ listing.name }}"
    />
    <div class="listing-text">
      <div>
        <b>
          <script>
            var price = "{{ listing.price }}";
            price = Math.round(price);
            document.write("$" + price);
          </script>
        </b>
      </div>
      <div class="listing-preview-title">
        {{ listing.name }} {% if listing.is_sold %}
        <span class="sold-tag">SOLD</span>
        {% endif %}
      </div>
      <div class="listing-date">
        <script>
          var utcDateString = "{{ listing.dateposted }}"; // Assuming this is in ISO format
          var postedDate = new Date(utcDateString);
          var localDate = new Date(
            postedDate.getTime() - postedDate.getTimezoneOffset() * 60000
          );
          var now = new Date();

          var diff = now - localDate;
          var diffSeconds = Math.floor(diff / 1000);
          var diffMinutes = Math.floor(diff / (1000 * 60));
          var diffHours = Math.floor(diff / (1000 * 60 * 60));
          var diffDays = Math.floor(diff / (1000 * 60 * 60 * 24));
          // display hours ago, minutes ago, or seconds ago
          if (diffDays > 0) {
            document.write(diffDays + " days ago");
          } else if (diffHours > 1) {
            document.write(diffHours + " hours ago");
          } else if (diffHours > 0) {
            document.write(diffHours + " hour ago");
          } else if (diffMinutes > 1) {
            document.write(diffMinutes + " minutes ago");
          } else if (diffMinutes > 0) {
            document.write(diffMinutes + " minute ago");
          } else {
            document.write("Just now");
          }
        </script>
      </div>
    </div>
  </a>
</div>
