{% extends 'base.html' %} {% block title %} {{ user.username }} | HawkSwap {%
endblock %} {% block content %}
<h2>{{ user.username }}'s profile</h2>
<p>Email: {{ user.email }}</p>
<h2>
  <script>
    if ("{{ user.username }}" == "{{ current_user.username }}") {
      document.write("My Listings");
    } else {
      document.write("{{ user.username }}'s Listings");
    }
  </script>
</h2>
{% for listing in listings %}
<div class="listing">
  <a href="/listing/{{ listing.id }}">{{ listing.name }}</a>- ${{ listing.price
  }}
</div>
{% endfor %} {% if not listings %}
<p>No listings found.</p>
{% endif %} {% endblock %}
